.bag-Item{
    background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  /* position: relative; */
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}
.bag{
  display:flex;
}
#nav-cart-count{
  margin:-10px;
}
.height1{
  min-height: 360px;
}
.height2{
  min-height: 452px;
}
.height3{
  min-height: 64px;
}
.imageWidth{
  width: 240px;
  margin: auto;
}
.iconDelete{
  margin-left: 334px;
    margin-bottom: 17px;
}